@tailwind base;
@import '@fortawesome/fontawesome-svg-core/styles.css';
@tailwind components;
@tailwind utilities;

.no-underline-important {
  text-decoration: none !important;
}

@font-face {
  font-family: 'Astrid';
  src: url('./assets/astrid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-astrid {
  font-family: 'Astrid', serif;
}
